
.cls-Récepteur-connection-1{
    fill:none;
    stroke:#f2f2f2;
    stroke-linejoin:round;
    stroke-width:10.55px}


.cls-Récepteur-connection-2{
    fill:#f2f2f2
}

.cls-Récepteur-éffacé-1{fill:none;stroke:gray;stroke-linejoin:round;stroke-width:12.19px;}
.cls-Récepteur-éffacé-2{fill:gray;}


.cls-1,
.cls-2,
.cls-4,
.cls-5{
    fill:none;
    stroke:#f2f2f2;
}
.cls-1{
    stroke-linejoin:round;
    stroke-width:2.8px;
}

.cls-2,.cls-4,.cls-5{
    stroke-miterlimit:10;
}

.cls-2{stroke-width:2.23px;}

.cls-3{fill:#f2f2f2;}

.cls-4{stroke-width:4.84px;}

.cls-5{stroke-width:3.69px;}

.box-wifi-1{fill:#f2f2f2;}
.box-wifi-2,.box-wifi-3,.box-wifi-4{fill:none;stroke:#f2f2f2;stroke-linejoin:round;}
.box-wifi-2{stroke-width:11.37px;}
.box-wifi-3{stroke-linecap:round;}
.box-wifi-3,.box-wifi-4{stroke-width:11.68px;}

.logo-devines{fill:#f2f2f2;}